@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,900,400italic,700italic);
* {
  border: none;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-transition: all ease-in-out 0.32s;
  -o-transition: all ease-in-out 0.32s;
  -webkit-transition: all ease-in-out 0.32s;
  transition: all ease-in-out 0.32s;
}
*:focus {
  outline: 0 !important;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  color: #fff;
}
html,
body {
  font-family: 'Lato', 'Open sans', 'montserrat', sans-serif !important;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: text;
}
body {
  background-color: #fff;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inset-shadow-lg {
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.6) inset;
}
.no-padding-left {
  padding-left: 0 !important;
}
.buffer-top {
  padding-top: 50px;
}
.transition-all-fast {
  -moz-transition: all ease-in-out 0.17s;
  -o-transition: all ease-in-out 0.17s;
  -webkit-transition: all ease-in-out 0.17s;
  transition: all ease-in-out 0.17s;
}
.transition-all-quick {
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
.transition-all-speedy {
  -moz-transition: all ease-in-out 0.03s;
  -o-transition: all ease-in-out 0.03s;
  -webkit-transition: all ease-in-out 0.03s;
  transition: all ease-in-out 0.03s;
}
.transition-all-bez-normal {
  -moz-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bot-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.correct {
  background-color: #66BB6A;
}
.button {
  height: 50px;
  width: 180px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 49px;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;
  margin: 0 auto 15px auto;
}
.button.btn-increment {
  background-color: #66BB6A;
}
.button.btn-reset {
  background-color: #ef5350;
}
.button:hover {
  opacity: 1;
}
#content {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  right: 0;
}
.question-prompt {
  height: 200px;
  max-width: 500px;
  width: auto;
  background-color: #EEEEEE;
  margin: 0 auto 50px auto;
  border-radius: 3px;
  overflow: hidden;
}
.question-prompt #prompt-indicator {
  background-color: #ef5350;
  height: 4px;
  width: 100%;
  margin-bottom: 35px;
}
.question-prompt #prompt-indicator.correct {
  background-color: #66BB6A;
}
.question-prompt #prompt-expression {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
  font-size: 22px;
}
.question-prompt #prompt-input {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 20px;
  color: #757575;
}
.race-track {
  width: 500px;
  margin: 0 auto;
}
.race-track .race-line {
  height: 2px;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.race-track .race-line .indicator-winner {
  content: '';
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  transform: scale(0);
  opacity: 0;
  -moz-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.race-track .race-line .indicator-winner.expanded {
  transform: scale(1);
  opacity: 1;
}
.race-track #racer1 {
  background-color: #ef5350;
}
.race-track #racer1 .indicator {
  content: '';
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0px;
}
.race-track #racer2 {
  background-color: #5C6BC0;
}
.race-track #racer2 .indicator {
  content: '';
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0px;
}
.race-track #racer3 {
  background-color: #66BB6A;
}
.race-track #racer3 .indicator {
  content: '';
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0px;
}
.race-track #racer4 {
  background-color: #FFA726;
}
.race-track #racer4 .indicator {
  content: '';
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0px;
}
#side-menu {
  height: 100vh;
  width: 200px;
  background-color: #546E7A;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
#side-menu ul {
  list-style-type: none;
}
#side-menu ul li {
  height: 50px;
  color: #fff;
  padding-left: 15px;
  line-height: 50px;
  background-color: #546E7A;
  -moz-transition: all ease-in-out 0.17s;
  -o-transition: all ease-in-out 0.17s;
  -webkit-transition: all ease-in-out 0.17s;
  transition: all ease-in-out 0.17s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#side-menu ul li:hover {
  background-color: #455A64;
}
#side-menu ul li:hover span {
  padding-left: 5px;
}
#side-menu ul li.brand-mark {
  height: 80px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-left: 0;
  line-height: 80px;
  background-color: #546E7A;
}
#side-menu ul li.nav-item {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
#side-menu ul li i {
  margin-right: 10px;
  vertical-align: text-bottom;
}
#side-menu ul li span {
  padding-left: 0;
  height: 100%;
  line-height: inherit;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
